@media print,
(max-width: 1279px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size: 15px;
        --font_size_title: 40px;
    }


    html.custom_scroll ::-webkit-scrollbar
    {
        width: 5px;
        height: 5px;
    }



    .block
    {
        margin-bottom: 124px;
    }

    .block.small_m
    {
        margin-bottom: 100px;
    }



    /*--------------
        Fancybox
    --------------*/
    .fancybox__slide
    {
        padding: 32px;
    }



    /*-------------
        Animate
    -------------*/
    .animate.fadeUp
    {
        transform: translateY(100px);
    }


    .animate.fadeLeft
    {
        transform: translateX(-100px);
    }

    .animate.fadeRight
    {
        transform: translateX(100px);
    }



    /*----------------
        Pagination
    ----------------*/
    .pagination
    {
        margin-top: 40px;
        padding-top: 40px;

        gap: 30px;
    }



    /*------------
        Header
    ------------*/
    header
    {
        padding: 32px 0;
    }


    header .menu
    {
        margin-left: 64px;

        gap: 32px;
    }


    header .join_btn
    {
        font-size: 12px;

        padding: 10px 20px;
    }




    /*---------------
        Page head
    ---------------*/
    .page_head
    {
        padding-top: 24px;
    }


    .page_head .cont
    {
        gap: 24px;
    }


    .breadcrumbs
    {
        font-size: 14px;
    }


    .page_title
    {
        width: 880px;
        margin-top: 20px;
    }


    .page_head .links
    {
        font-size: 14px;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head
    {
        margin-bottom: 40px;
    }


    .block_head .title span
    {
        margin-top: 0;
        padding-left: 40px;
    }


    .block_head .desc
    {
        margin-top: 40px;
    }



    /*----------------
        Typography
    ----------------*/
    .text_block > *
    {
        margin-bottom: 24px;
    }


    .text_block h2
    {
        font-size: 36px;
    }


    .text_block ul.gap
    {
        gap: 16px;
    }


    .text_block ul li:before
    {
        top: 10px;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section
    {
        padding-top: 16px;
    }


    .first_section .data
    {
        margin-top: 0;
    }


    .first_section .title
    {
        width: 452px;
    }


    .first_section .genders
    {
        margin-top: 8px;
        padding-left: 24px;
    }


    .first_section .genders > *
    {
        font-size: 16px;

        min-width: 164px;
    }


    .first_section .desc
    {
        font-size: 16px;

        margin-top: 32px;
        padding-left: 24px;
    }


    .first_section .button
    {
        width: 292px;
        margin-top: 40px;
    }


    .first_section .button .btn
    {
        padding: 12px 28px;
    }


    .first_section .button .exp
    {
        font-size: 13px;

        margin-top: 12px;
        padding-left: 0;
    }


    .first_section .slider
    {
        height: 652px;
        margin-right: -24px;
        padding-top: 88px;
        padding-right: 0;
    }



    /*---------------------
        What difference
    ---------------------*/
    .what_difference .row
    {
        margin-bottom: -20px;
    }


    .what_difference .row > *
    {
        margin-bottom: 20px;
    }


    .what_difference .item
    {
        font-size: 14px;
        line-height: 140%;

        min-height: 140px;
        padding: 11px;
    }


    .what_difference .item .icon
    {
        top: 15px;
        left: 11px;
    }


    .what_difference .item .number
    {
        font-size: 18px;
        line-height: 23px;

        top: 15px;
        right: 11px;
    }


    .what_difference .item .exp
    {
        font-size: 12px;
    }


    .what_difference .join_btn
    {
        width: 272px;
        margin-top: 48px;
        padding: 12px 28px;
    }



    /*-----------
        Steps
    -----------*/
    .steps .row
    {
        padding-top: 8px;

        gap: 60px;
    }


    .steps .step + .step:before
    {
        top: 16px;
        left: -76px;
    }


    .steps .step .number
    {
        font-size: 18px;

        width: 76px;
        height: 76px;
        margin-bottom: 20px;
    }


    .steps .join_btn
    {
        width: 272px;
        margin-top: 48px;
        padding: 12px 28px;
    }



    /*-------------
        Marquee
    -------------*/
    .marquee
    {
        font-size: 16px;

        padding: 20px 0;
    }



    /*----------------
        Price info
    ----------------*/
    .price_info
    {
        padding: 60px 0 68px;
    }


    .price_info .block_head
    {
        padding-bottom: 0;
    }


    .price_info .start
    {
        font-size: 22px;

        width: 760px;
        padding: 31px;
    }


    .price_info .item
    {
        font-size: 22px;

        width: 760px;
        margin-top: 32px;
    }


    .price_info .exp
    {
        margin-top: 4px;
    }


    .price_info .join_btn
    {
        width: 272px;
        margin-top: 48px;
        padding: 12px 28px;
    }



    /*--------------
        Included
    --------------*/
    .included .image
    {
        width: 440px;
    }


    .included .data
    {
        line-height: 140%;

        width: calc(100% - 500px);

        gap: 12px;
    }


    .included .data > *
    {
        padding-left: 28px;

        background-position: 0 2px;
    }



    /*--------------
        For whom
    --------------*/
    .for_whom
    {
        padding: 60px 0 68px;
    }


    .for_whom .items
    {
        width: calc(50% - 12px);
    }


    .for_whom .item .thumb
    {
        width: 160px;
    }


    .for_whom .item .thumb + *
    {
        line-height: 140%;

        width: calc(100% - 180px);
    }


    .for_whom .slider
    {
        width: calc(50% - 12px);
    }


    .for_whom .slider .item .thumb
    {
        aspect-ratio: 270 / 110;
    }


    .for_whom .slider .item .thumb + *
    {
        min-height: 77px;
        padding: 0 24px 14px;
    }



    /*-------------
        Reviews
    -------------*/
    .reviews .block_head
    {
        padding-bottom: 0;
    }


    .reviews .list
    {
        height: 1228px;
    }


    .reviews .review3
    {
        top: 140px;

        width: calc(100% - 400px);
    }

    .reviews .review4
    {
        right: 0;
        bottom: 0;

        width: calc(100% - 440px);
    }

    .reviews .review5
    {
        left: 0;
    }

    .reviews .review6
    {
        width: 400px;
    }


    .reviews .review .title
    {
        font-size: 22px;
    }


    .reviews .review1 .text_block,
    .reviews .review3 .text_block,
    .reviews .review4 .text_block
    {
        margin-top: 24px;
    }


    .reviews .review .text_block > *
    {
        margin-bottom: 20px;
    }



    .reviews .more
    {
        line-height: 140%;

        margin-top: 40px;
    }



    /*-------------
        Experts
    -------------*/
    .experts
    {
        padding: 60px 0 80px;
    }


    .experts .list
    {
        gap: 48px;
    }


    .experts .block_head
    {
        padding-bottom: 0;
    }


    .experts .expert .photo
    {
        width: 340px;
        height: 376px;
    }


    .experts .expert .photo + *
    {
        width: calc(100% - 388px);
        padding-top: 24px;
    }


    .experts .expert .name
    {
        font-size: 28px;
        line-height: 140%;

        margin-bottom: 28px;
    }


    .experts .expert .features
    {
        gap: 28px;
    }


    .experts .expert .features .val
    {
        width: calc(100% - 216px);
    }


    .experts .expert .features .val > *
    {
        margin-bottom: 20px;
    }



    /*---------------
        Materials
    ---------------*/
    .materials .row
    {
        margin-bottom: -40px;
        margin-left: -24px;
    }


    .materials .row > *
    {
        width: calc(33.333% - 24px);
        margin-bottom: 40px;
        margin-left: 24px;
    }


    .materials .item .thumb + *
    {
        padding: 0 16px;
    }


    .materials .all_link
    {
        margin-top: 40px;
    }


    .materials .all_link a
    {
        font-size: 14px;
        line-height: 140%;

        width: 400px;
        padding: 20px;
    }



    /*--------------
        Articles
    --------------*/
    .articles .cols .list
    {
        width: calc(100% - 368px);
    }


    .articles .article .thumb
    {
        width: 220px;
    }


    .articles .article .thumb + *
    {
        width: calc(100% - 240px);
    }


    .articles .article .name
    {
        font-size: 18px;

        width: 340px;
    }



    .articles aside
    {
        width: 320px;
    }


    .articles .categories
    {
        padding: 40px 20px;
    }


    .articles .categories .title
    {
        font-size: 26px;
    }



    .articles .all_link
    {
        margin-top: 40px;
    }


    .articles .all_link a
    {
        width: 400px;
        padding: 18px;
    }



    /*----------------
        Error info
    ----------------*/
    .error_info .code
    {
        font-size: 140px;
    }


    .error_info .link a
    {
        width: 300px;
        padding: 20px;
    }



    /*------------
        Footer
    ------------*/
    footer
    {
        padding: 68px 0 48px;
    }


    footer .cont
    {
        gap: 40px 60px;
    }



    footer .section
    {
        font-size: 16px;

        width: 420px;
    }


    footer .socials
    {
        gap: 28px;
    }



    footer .links
    {
        gap: 10px 60px;
    }



    footer .exp
    {
        margin-top: 0;
    }
}
