@media print,
(max-width: 1023px)
{
    /*-------------------
        Global styles
    -------------------*/
    .block
    {
        margin-bottom: 100px;
    }

    .block.small_m
    {
        margin-bottom: 80px;
    }



    /*--------------
        Fancybox
    --------------*/
    .fancybox__slide
    {
        padding: 24px;
    }



    /*------------
        Header
    ------------*/
    header
    {
        position: fixed;
        top: 0;
        left: 100%;

        width: 100%;
        height: 100%;
        min-height: -moz-available;
        min-height: -webkit-fill-available;
        min-height:         fill-available;
        margin: 0;
        padding: 160px 0 64px;

        transition: transform .3s linear;

        background: #faf3ee;
    }

    header.show
    {
        transform: translateX(-100%);
    }


    header .scroll
    {
        display: flex;

/* overflow: auto; */
        flex-direction: column;

        height: 100%;
        min-height: -moz-available;
        min-height: -webkit-fill-available;
        min-height:         fill-available;
        padding: 0;

        /* overscroll-behavior-y: contain; */
    }


    header .logo,
    header .join_btn
    {
        display: none;
    }


    header .menu
    {
        flex-direction: column;

        width: 100%;
        margin: 0;

        text-align: center;

        gap: 30px;
    }


    header .menu_item
    {
        width: 100%;
    }


    header .menu_item > a
    {
        font-size: 16px;
    }


    header .messengers
    {
        display: flex;
    }



    /*-----------------
        Mob. header
    -----------------*/
    .mob_header
    {
        display: block;
    }



    /*----------------
        Typography
    ----------------*/
    .text_block h2
    {
        font-size: 32px;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section
    {
        padding-top: 22px;
    }


    .first_section .data
    {
        width: 100%;
        margin: 0;
    }


    .first_section .title
    {
        width: 100%;

        text-align: left;
    }


    .first_section .title span
    {
        padding-left: 24px;
    }


    .first_section .genders > *
    {
        font-size: var(--font_size);

        min-width: 156px;
    }


    .first_section .desc
    {
        font-size: var(--font_size);

        width: 448px;
        max-width: 100%;
        margin-top: 28px;
        padding-left: 24px;
    }


    .first_section .button
    {
        width: 304px;
        padding-left: 24px;
    }


    .first_section .button .btn
    {
        padding: 12px 24px;
    }


    .first_section .button .exp
    {
        font-size: 12px;

        margin-top: 8px;
    }


    .first_section .slider
    {
        width: 100%;
        height: auto;
        margin-top: 40px;
        margin-right: 0;
        padding: 0;

        border-radius: 0;
        background: none;
    }



    /*---------------------
        What difference
    ---------------------*/
    .what_difference .row > *
    {
        width: calc(33.333% - 20px);
    }


    .what_difference .empty.tablet_hide
    {
        display: none;
    }

    .what_difference .empty.tablet
    {
        display: block;
    }



    /*-----------
        Steps
    -----------*/
    .steps .row
    {
        margin-bottom: -40px;
        margin-left: -40px;
        padding-top: 4px;

        gap: 0;
    }


    .steps .row > *
    {
        width: calc(33.333% - 40px);
        margin-bottom: 40px;
        margin-left: 40px;
    }


    .steps .step + .step:before
    {
        top: 12px;
        left: -68px;

        transform: scale(.7);
    }


    .steps .step:last-child:before
    {
        display: none;
    }



    /*-------------
        Marquee
    -------------*/
    .marquee
    {
        font-size: var(--font_size);
    }



    /*----------------
        Price info
    ----------------*/
    .price_info .start
    {
        font-size: 20px;

        width: 720px;
        padding: 27px;
    }


    .price_info .item
    {
        font-size: 20px;

        width: 720px;
        margin-top: 28px;
    }



    /*--------------
        Included
    --------------*/
    .included .image
    {
        width: 300px;
    }


    .included .data
    {
        width: calc(100% - 340px);
    }



    /*--------------
        For whom
    --------------*/
    .for_whom .items
    {
        width: 100%;
    }


    .for_whom .slider
    {
        width: 100%;
        margin-top: 24px;
    }


    .for_whom .slider .item .thumb
    {
        aspect-ratio: 270/97;
    }



    /*-------------
        Reviews
    -------------*/
    .reviews .list
    {
        height: 1632px;
    }


    .reviews .review.bg
    {
        padding: 28px 16px 40px;
    }


    .reviews .review1
    {
        width: 324px;
    }

    .reviews .review2
    {
        left: 348px;

        width: calc(100% - 348px);
    }

    .reviews .review3
    {
        top: 160px;

        width: calc(100% - 348px);
        padding-right: 4px !important;
        padding-left: 20px !important;
    }

    .reviews .review4
    {
        bottom: 180px;
        left: 0;

        width: 100%;
    }

    .reviews .review5
    {
        top: 752px;
        bottom: auto;

        width: 324px;
    }

    .reviews .review6
    {
        width: 559px;
    }


    .reviews .review .title
    {
        font-size: 20px;
    }


    .reviews .review .head .title
    {
        width: 100%;
        margin-top: 12px;
    }



    /*-------------
        Experts
    -------------*/
    .experts .expert .photo
    {
        order: 2;

        width: 340px;
        height: 380px;
        margin: 16px auto 24px;
    }


    .experts .expert .photo + *
    {
        width: 100%;
        padding: 24px;
    }


    .experts .expert .name
    {
        font-size: 26px;

        margin-bottom: 24px;
    }



    /*---------------
        Materials
    ---------------*/
    .materials .item .thumb
    {
        margin-bottom: 16px;
    }


    .materials .item .thumb + *
    {
        padding: 0;
    }


    .materials .all_link a
    {
        width: 320px;
        padding: 16px 24px;
    }



    /*--------------
        Articles
    --------------*/
    .articles .cols .list
    {
        order: 2;

        width: 100%;
    }



    .articles aside
    {
        width: 100%;
        margin-bottom: 50px;
    }



    /*------------
        Footer
    ------------*/
    footer .cont
    {
        justify-content: space-between;

        gap: 40px;
    }


    footer .section
    {
        font-size: var(--font_size);

        width: auto;
    }



    footer .links
    {
        gap: 10px 48px;
    }




    .phone_wrap
    {
        margin-top: 20px;
    }
}
