@media print,
(max-width: 767px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size_title: 32px;
    }


    .cont
    {
        padding: 0 16px;
    }


    .block,
    .block.small_m
    {
        margin-bottom: 80px;
    }



    /*--------------
        Fancybox
    --------------*/
    .fancybox__slide
    {
        padding: 20px;
    }



    /*---------------
        Page head
    ---------------*/
    .page_head
    {
        margin-bottom: 40px;
        padding-top: 20px;
    }


    .breadcrumbs
    {
        font-size: 12px;
    }


    .page_title
    {
        margin-top: 10px;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head
    {
        margin-bottom: 30px;
    }


    .block_head .title span
    {
        padding-left: 24px;
    }


    .block_head .desc
    {
        margin-top: 24px;
    }



    /*----------------
        Typography
    ----------------*/
    .text_block h2,
    .related_title,
    .comments_title
    {
        font-size: 22px;
    }




    /*-----------------
        Mob. header
    -----------------*/
    .mob_header
    {
        padding: 20px 0;
    }


    .mob_header .mob_menu_btn
    {
        width: 44px;
        height: 36px;
    }


    .mob_header .mob_menu_btn .icon
    {
        width: 44px;
        height: 16px;
    }



    /*---------------------
        What difference
    ---------------------*/
    .what_difference .row > *
    {
        width: calc(50% - 20px);
    }


    .what_difference .item
    {
        padding: 8px;
    }


    .what_difference .empty.tablet
    {
        display: none;
    }


    .what_difference .join_btn
    {
        width: 248px;
        margin-top: 40px;
    }



    /*-----------
        Steps
    -----------*/
    .steps .row
    {
        margin-left: -24px;
    }


    .steps .row > *
    {
        width: calc(50% - 24px);
        margin-bottom: 40px;
        margin-left: 24px;
    }


    .steps .step + .step:before
    {
        display: none;
    }


    .steps .step .number
    {
        font-size: 16px;

        width: 64px;
        height: 64px;
        margin-bottom: 12px;
    }


    .steps .join_btn
    {
        width: 248px;
        margin-top: 40px;
    }



    /*----------------
        Price info
    ----------------*/
    .price_info .start
    {
        font-size: 18px;

        padding: 23px;
    }


    .price_info .item
    {
        font-size: 18px;

        margin-top: 24px;
    }


    .price_info .join_btn
    {
        width: 248px;
        margin-top: 40px;
    }



    /*--------------
        Included
    --------------*/
    .included .image
    {
        width: 100%;
    }


    .included .data
    {
        width: 100%;
        margin-top: 30px;
    }



    /*-------------
        Reviews
    -------------*/
    .reviews .list
    {
        display: flex;
        flex-direction: column;

        height: auto;

        gap: 40px;
    }


    .reviews .review
    {
        position: relative;
    }


    .reviews .review1
    {
        width: 100%;
    }

    .reviews .review2
    {
        left: 0;

        width: 100%;
    }

    .reviews .review3
    {
        top: 0;

        width: 100%;
    }

    .reviews .review4
    {
        bottom: 0;
    }

    .reviews .review5
    {
        top: 0;

        width: 100%;
    }

    .reviews .review6
    {
        width: 100%;
    }


    .reviews .review .photo
    {
        transform: translateX(0px);
    }



    /*-------------
        Experts
    -------------*/
    .experts .expert .name
    {
        margin-bottom: 16px;
    }


    .experts .expert .features .label
    {
        width: 100%;
        margin-bottom: 16px;
    }


    .experts .expert .features .val
    {
        width: 100%;
    }


    .experts .expert .photo
    {
        width: 280px;
        height: 280px;
    }


    .experts .link a
    {
        padding: 17px 39px;
    }



    /*---------------
        Materials
    ---------------*/
    .materials .row > *
    {
        width: calc(50% - 24px);
    }


    .materials .all_link a
    {
        width: 280px;
    }



    /*--------------
        Articles
    --------------*/
    .articles .cols .list
    {
        gap: 40px;
    }


    .articles .article .thumb
    {
        width: 240px;
        margin-bottom: 16px;
    }


    .articles .article .thumb + *
    {
        width: 100%;
    }



    .articles aside
    {
        margin-bottom: 40px;
    }


    .articles .categories
    {
        padding: 20px;

        gap: 20px;
    }


    .articles .categories .title
    {
        font-size: 22px;
    }


    .articles .categories .items
    {
        gap: 16px;
    }



    /*----------------
        Error info
    ----------------*/
    .error_info .code
    {
        font-size: 124px;
    }



    /*------------
        Footer
    ------------*/
    footer .links
    {
        flex-direction: column;

        gap: 12px;
    }



    .modal
    {
        width: 100%;
        padding: 20px;
    }



    .item_video
    {
        width: calc(100% / 2 - 20px / 2);
    }



    .related_list .article
    {
        width: 100%;
    }

    .related_list .article .name
    {
        width: 100%;
    }

    .related_list .article .thumb
    {
        margin-bottom: 0;
    }



    .cats,
    .tags
    {
        font-size: 14px;
    }
}
