@media (max-width: 479px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size_title: 28px;
    }


    .cont
    {
        padding: 0 20px;
    }



    /*--------------
        Fancybox
    --------------*/
    .fancybox__slide
    {
        padding: 16px;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section .genders
    {
        gap: 12px;
    }


    .first_section .genders > *
    {
        min-width: 148px;
        padding-right: 44px;
    }


    .first_section .desc
    {
        width: 100%;
        margin-top: 24px;
        padding-left: 0;
    }


    .first_section .button
    {
        width: 100%;
        margin-top: 30px;
        padding: 0;
    }


    .first_section .slider
    {
        margin-top: 24px;
    }



    /*---------------------
        What difference
    ---------------------*/
    .what_difference .row > *
    {
        width: 100%;
    }


    .what_difference .item
    {
        min-height: 112px;
        padding: 47px 11px 11px;
    }


    .what_difference .image img
    {
        height: auto;
    }


    .what_difference .empty
    {
        display: none;
    }


    .what_difference .join_btn
    {
        width: 100%;
        margin-top: 30px;
    }



    /*-----------
        Steps
    -----------*/
    .steps .row
    {
        margin-bottom: -30px;
        margin-left: 0;
    }


    .steps .row > *
    {
        width: 100%;
        margin-bottom: 30px;
        margin-left: 0;
    }


    .steps .join_btn
    {
        width: 100%;
        margin-top: 30px;
    }



    /*----------------
        Price info
    ----------------*/
    .price_info .start
    {
        font-size: var(--font_size);

        padding: 19px;
    }


    .price_info .item
    {
        font-size: var(--font_size);

        padding: 0 20px;
    }


    .price_info .exp
    {
        font-size: 13px;
    }


    .price_info .join_btn
    {
        width: 100%;
        margin-top: 30px;
    }



    /*--------------
        For whom
    --------------*/
    .for_whom .item .thumb + *
    {
        width: 100%;
        margin-top: 8px;
        padding-bottom: 9px;
    }



    .for_whom .slider .item .thumb
    {
        margin-bottom: 16px;

        aspect-ratio: 270 / 110;
    }


    .for_whom .slider .item .thumb + *
    {
        min-height: 96px;
        padding: 0 0 12px;
    }


    .for_whom .slider .item .thumb + * br
    {
        display: none;
    }



    /*-------------
        Experts
    -------------*/
    .experts .expert .name
    {
        font-size: 24px;
    }


    .experts .link a
    {
        padding: 17px 16px;
    }



    /*---------------
        Materials
    ---------------*/
    .materials .row
    {
        margin-left: 0;
    }


    .materials .row > *
    {
        width: 100%;
        margin-left: 0;
    }


    .materials .all_link a
    {
        width: 100%;
    }



    /*----------------
        Error info
    ----------------*/
    .error_info .code
    {
        font-size: 116px;
    }



    .show_more_text
    {
        column-count: 1;
    }



    .rouder
    {
        border-radius: 15px;
    }



    .item_video
    {
        width: calc(100%);
    }



    .all_video
    {
        padding: 18px 56px;
    }



    .links div:first-child
    {
        width: 100%;
    }



    .info
    {
        font-size: 12px;
    }

    .info svg
    {
        width: 20px;
        height: 20px;
    }
}
