/*------------------
    Reset styles
------------------*/
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    scroll-margin-top: 24px;
}

*:before,
*:after
{
    box-sizing: border-box;
}

html
{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
        -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
}

body
{
    margin: 0;

    overscroll-behavior: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch;
    text-rendering: optimizeLegibility;
    text-decoration-skip: objects;
}

img
{
    border-style: none;
}

textarea
{
    overflow: auto;
}

input,
textarea,
input:active,
textarea:active,
button
{
    margin: 0;

    -webkit-border-radius: 0;
            border-radius: 0;
         outline: none transparent !important;
    box-shadow: none;

    -webkit-appearance: none;
            appearance: none;
    -moz-outline: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
{
    margin: 0;

    -webkit-appearance: none;
}

input[type=number]
{
    -moz-appearance: textfield;
}

:focus
{
    outline: 0;
}

:hover,
:active
{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
}


::-ms-clear
{
    display: none;
}



/*-------------------
    Global styles
-------------------*/
:root
{
    --bg: #fff;
    --scroll_width: 17px;
    --text_color: #1f1f1f;
    --font_size: 16px;
    --font_size_title: 50px;
    --font_family: 'Manrope', 'Arial', sans-serif;
}


::selection
{
    color: #fff;
    background: #e5502c;
}

::-moz-selection
{
    color: #fff;
    background: #e5502c;
}



html
{
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height:         fill-available;
}


html.custom_scroll ::-webkit-scrollbar
{
    width: 10px;
    height: 10px;

    background-color: var(--bg);
}


html.custom_scroll ::-webkit-scrollbar-thumb
{
    background-color: #e5502c;
}


body
{
    font: var(--font_size) var(--font_family);

    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height:         fill-available;

    color: var(--text_color);
}


body.lock
{
    overflow: hidden;
}


button
{
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;

    display: inline-block;

    cursor: pointer;
    vertical-align: top;

    color: inherit;
    border: none;
    background: none;
}


.wrap
{
    position: relative;
    z-index: 9;

    display: flex;
    overflow: clip;
    flex-direction: column;

    min-height: 100%;

    background: var(--bg);
}


.main
{
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
}


.cont
{
    width: 100%;
    max-width: 1208px;
    margin: 0 auto;
    padding: 0 24px;
}


.row
{
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: flex-start;
}



.block
{
    margin-bottom: 170px;
}

.block.small_m
{
    margin-bottom: 133px;
}

.block.smallest_m
{
    margin-bottom: 80px;
}



.modal_btn > *
{
    pointer-events: none;
}



/*----------------
    Pagination
----------------*/
.pagination
{
    position: relative;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    margin-top: 50px;
    padding-top: 45px;

    gap: 40px;
}


.pagination:before
{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    display: block;

    width: 948px;
    max-width: 100%;
    height: 2px;
    margin: 0 auto;

    content: '';
    pointer-events: none;

    background: #929292;
}


.pagination a,
.pagination span,
.pagination .sep
{
    font-size: 16px;
    font-weight: 700;
    line-height: 130%;

    display: inline-block;

    transition: .2s linear;
    vertical-align: top;
    text-decoration: none;

    color: #929292;
}

.pagination a:hover,
.pagination .current
{
    color: #e5502c;
    border-color: #e5502c;
}


.pagination .prev,
.pagination .next
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 40px;
    height: 40px;

    border: 1px solid #929292;
    border-radius: 50%;
}



.pagination .prev .icon,
.pagination .next .icon
{
    display: block;

    width: 8px;
    height: 15px;
}


.pagination .next .icon
{
    transform: rotate(180deg);
}



/*-------------
    Animate
-------------*/
.animate
{
    transition: .35s ease-in-out .2s;

    opacity: 0;
}


.animate.delay
{
    transition-delay: .4s;
}

.animate.delay2
{
    transition-delay: .6s;
}

.animate.delay3
{
    transition-delay: .8s;
}


.animate.fadeUp
{
    transform: translateY(150px);
}


.animate.fadeLeft
{
    transform: translateX(-150px);
}

.animate.fadeRight
{
    transform: translateX(150px);
}


.animate.animated
{
    transform: none !important;

    opacity: 1;
}



/*------------
    Header
------------*/
header
{
    position: relative;
    z-index: 90;
    top: 0;
    left: 0;

    width: 100%;
    padding: 52px 0;
}


header.absolute
{
    position: absolute;
}



header .cont
{
    align-content: center;
    align-items: center;
    justify-content: space-between;
}



header .logo
{
    font-size: 10px;

    position: relative;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;

    text-decoration: none;

    color: #535353;
}


header .logo div:first-child
{
    position: absolute;
    bottom: 100%;
    left: 0;

    margin-bottom: 5px;

    white-space: nowrap;
}


header .logo img
{
    display: block;

    width: 113px;
    height: 39px;
}


header .logo .age
{
    font-size: 13px;
    line-height: 26px;

    width: 26px;
    height: 26px;
    margin-left: 14px;

    text-align: center;

    color: #fff;
    border-radius: 50%;
    background: #e5502c;
}



header .menu
{
    margin-right: auto;
    margin-left: 80px;

    gap: 40px;
}


header .menu_item
{
    display: block;

    list-style: none;
}


header .menu_item > a
{
    font-size: 13px;

    transition: color .2s linear;
    text-decoration: none;

    color: #535353;
}


header .menu_item:hover > a
{
    color: #e5502c;
}



header .messengers
{
    display: none;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 100%;
    margin-top: 110px;

    gap: 16px;
}


header .messengers a
{
    display: block;

    text-decoration: none;

    color: currentColor;
}


header .messengers img
{
    display: block;

    width: 35px;
    height: 35px;
}



header .join_btn
{
    font-size: 13px;
    font-weight: 600;

    padding: 11px 24px 11px 25px;

    transition: background .2s linear;
    text-transform: uppercase;

    color: #f2ebe5;
    border-radius: 46px;
    background: #e5502c;
}


header .join_btn:hover
{
    background: #fe7e13;
}




/*-----------------
    Mob. header
-----------------*/
.mob_header
{
    position: relative;
    z-index: 100;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    padding: 30px 0;
}


.mob_header .cont
{
    align-content: center;
    align-items: center;
    justify-content: space-between;
}



.mob_header .logo
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;

    text-decoration: none;

    color: currentColor;
}


.mob_header .logo img
{
    display: block;

    width: 113px;
    height: 39px;
}


.mob_header .logo .age
{
    font-size: 13px;
    line-height: 26px;

    width: 26px;
    height: 26px;
    margin-left: 14px;

    text-align: center;

    color: #fff;
    border-radius: 50%;
    background: #e5502c;
}



.mob_header .mob_menu_btn
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 60px;
    height: 40px;

    color: #593204;
}


.mob_header .mob_menu_btn .icon
{
    display: block;

    width: 60px;
    height: 20px;
}


.mob_header .mob_menu_btn .icon + .icon
{
    display: none;

    width: 20px;
    height: 20px;
}


.mob_header .mob_menu_btn.active .icon
{
    display: none;
}

.mob_header .mob_menu_btn.active .icon + .icon
{
    display: block;
}



/*---------------
    Page head
---------------*/
.page_head
{
    margin-bottom: 50px;
    padding-top: 33px;
}


.page_head .cont
{
    display: flex;
    flex-direction: column;

    gap: 30px;
}



.breadcrumbs
{
    font-size: 16px;
    font-weight: 700;
    line-height: 130%;

    color: #e5502c;
}


.breadcrumbs a
{
    text-decoration: none;

    color: #000;
}


.breadcrumbs .sep
{
    font-size: 14px;

    display: inline-block;

    margin: 0 6px;

    vertical-align: top;

    color: #000;
}



.page_head .links
{
    font-size: 16px;
    font-weight: 600;
    line-height: 130%;

    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: flex-start;

    color: #e5502c;

    gap: 20px;
}


.page_head .links a
{
    color: currentColor;
}



.page_title
{
    font-size: var(--font_size_title);
    font-weight: 600;

    display: block;

    width: 918px;
    max-width: 100%;
    margin-top: 50px;

    text-transform: uppercase;
}



/*----------------
    Block head
----------------*/
.block_head
{
    margin-bottom: 45px;
}


.block_head .title
{
    font-size: calc(var(--font_size_title) - 5px);
    font-weight: 700;

    text-transform: uppercase;

    color: #a18672;
}


.block_head .title span
{
    display: block;

    margin-top: -8px;
    padding-left: 50px;

    color: #ff8c20;
}


.block_head .desc
{
    line-height: 150%;

    width: 612px;
    max-width: 100%;
    margin-top: 50px;

    color: #000;
}



/*------------------
    Form elements
------------------*/
.form
{
    --form_border_color: #000;
    --form_focus_color: #000;
    --form_error_color: red;
    --form_border_radius: 30px;
    --form_bg_color: #fff;
    --form_label_width: 200px;
    --form_placeholder_color: #ccc;
}


.form ::-webkit-input-placeholder
{
    color: var(--form_placeholder_color);
}

.form :-moz-placeholder
{
    color: var(--form_placeholder_color);
}

.form ::-moz-placeholder
{
    opacity: 1;
    color: var(--form_placeholder_color);
}

.form :-ms-input-placeholder
{
    color: var(--form_placeholder_color);
}


.form .cols
{
    margin-left: -20px;
}

.form .cols .col
{
    width: calc(50% - 20px);
    margin-left: 20px;
}


.form .columns
{
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: flex-start;

    margin-left: calc(var(--form_columns_offset) * -1);

    --form_columns_offset: 20px;
}

.form .columns > *
{
    width: calc(50% - var(--form_columns_offset));
    margin-left: var(--form_columns_offset);
}


.form .columns > *.width1of3
{
    width: calc(33.333% - var(--form_columns_offset));
}

.form .columns > *.width2of3
{
    width: calc(66.666% - var(--form_columns_offset));
}

.form .columns > *.width3of3
{
    width: calc(100% - var(--form_columns_offset));
}


.form .line
{
    margin-bottom: 20px;
}


.form .line.row .label
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;

    width: var(--form_label_width);
    max-width: 100%;
    min-height: 40px;
    margin: 0;
    padding-right: 16px;
}

.form .line.row .field
{
    width: calc(100% - var(--form_label_width));
    margin-left: auto;
}


.form .label
{
    margin-bottom: 8px;
}


.form .field
{
    position: relative;
}


.form .input
{
    font-family: var(--font_family);
    font-size: var(--font_size);

    display: block;

    width: 100%;
    height: 60px;
    padding: 0 20px;

    transition: border-color .2s linear;

    color: var(--text_color);
    border: 1px solid var(--form_border_color);
    border-radius: var(--form_border_radius);
    background: var(--form_bg_color);
}

.form .input:-webkit-autofill
{
    -webkit-box-shadow: inset 0 0 0 50px var(--form_bg_color) !important;
}


.form textarea
{
    font-family: var(--font_family);
    font-size: var(--font_size);

    display: block;

    width: 100%;
    height: 120px;
    padding: 12px 20px;

    resize: none;
    transition: border-color .2s linear;

    color: var(--text_color);
    border: 1px solid var(--form_border_color);
    border-radius: var(--form_border_radius);
    background: var(--form_bg_color);
}

.form textarea::-webkit-scrollbar
{
    width: 5px;
    height: 5px;
}


.form .input:focus,
.form textarea:focus
{
    border-color: var(--form_focus_color);
}


.form .error
{
    border-color: var(--form_error_color);
}


.form .checkbox
{
    font-family: var(--font_family2);
    font-size: 10px;
    line-height: 21.2px;

    position: relative;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;

    min-height: 21px;
    padding-left: 31px;

    cursor: pointer;
}


.form .checkbox input
{
    display: none;
}


.form .checkbox .check
{
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 21px;
    height: 21px;

    border: 1px solid var(--form_border_color);
    background: var(--form_bg_color);
}

.form .checkbox .check:after
{
    position: absolute;
    top: -4px;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;

    width: 14px;
    height: 7px;
    margin: auto;

    content: '';
    transition: opacity .2s linear;
    transform: rotate(-45deg);

    opacity: 0;
    border-bottom: 2px solid;
    border-left: 2px solid;
}

.form .checkbox input:checked ~ .check:after
{
    opacity: 1;
}


.form .submit
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;

    padding-top: 10px;
}


.form .submit_btn
{
    height: 40px;
    padding: 0 32px;

    transition: .2s linear;

    border: 1px solid var(--btn_bg);
    border-radius: var(--form_border_radius);
    background: var(--btn_bg);
}



/*----------------
    Typography
----------------*/
.text_block
{
    line-height: 150%;
}


.text_block > *
{
    margin-bottom: 27px;
}


.text_block > :last-child
{
    margin-bottom: 0 !important;
}

.text_block > :first-child
{
    margin-top: 0 !important;
}


.text_block h2
{
    font-size: 40px;
    font-weight: 600;
    line-height: 1;

    margin-bottom: 30px !important;

    text-transform: uppercase;
}


.text_block * + h2
{
    margin-top: 30px;
}

.text_block h2 + *
{
    margin-top: 0 !important;
}


.text_block img
{
    display: block;

    width: 100%;
    max-width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.text_block ol
{
    margin-left: 20px;
}


.text_block ul.gap
{
    display: flex;
    flex-direction: column;

    gap: 24px;
}

.text_block a
{
    color: #e5502c;
}


.text_block ul li
{
    position: relative;

    display: block;
    overflow: hidden;

    padding-left: 20px;

    list-style-type: none;
}


.text_block ul li:before
{
    position: absolute;
    top: 12px;
    left: 4px;

    display: block;

    width: 4px;
    height: 4px;

    content: '';

    border-radius: 50%;
    background: currentColor;
}



/*-------------------
    First section
-------------------*/
.first_section
{
    padding-top: 37px;
}


.first_section .data
{
    align-self: center;

    width: calc(50% - 10px);
    margin-top: 64px;
}


.first_section .title
{
    font-size: var(--font_size_title);
    font-weight: 700;

    width: 565px;
    max-width: 100%;

    text-align: right;
    text-transform: uppercase;

    color: #a18672;
}


.first_section .title span
{
    display: block;

    color: #ff8c20;
}


.first_section .genders
{
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: flex-start;

    padding-left: 35px;

    gap: 20px;
}


.first_section .genders > *
{
    font-size: 18px;

    position: relative;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;

    min-width: 170px;
    height: 32px;
    padding-right: 48px;

    color: #694822;
    border-radius: 16px;
    background: #faf3ee;
}


.first_section .genders .icon
{
    position: absolute;
    top: 0;
    right: 3px;
    bottom: 0;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 26px;
    height: 26px;
    margin: auto 0;

    color: #e5502c;
    border-radius: 50%;
    background: #fff;
}


.first_section .genders .icon svg
{
    display: block;
}


.first_section .genders .male .icon svg
{
    width: 17px;
    height: 17px;
}

.first_section .genders .female .icon svg
{
    width: 12px;
    height: 19px;
}


.first_section .desc
{
    font-size: 19px;
    line-height: 150%;

    margin-top: 35px;
    padding-left: 35px;
}


.first_section .button
{
    width: 294px;
    max-width: 100%;
    margin-top: 45px;
}


.first_section .button .btn
{
    font-weight: 600;
    line-height: 150%;

    width: 100%;
    padding: 15px 30px;

    transition: background .2s linear;

    color: #fefdfc;
    border-radius: 27.5px;
    background: #e5502c;
}


.first_section .button .btn:hover
{
    background: #fe7e13;
}


.first_section .button .exp
{
    font-size: 14px;
    font-weight: 300;
    line-height: 150%;

    margin-top: 15px;
    padding-left: 11px;

    text-align: center;

    color: #a18672;
}



.first_section .slider
{
    position: relative;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: calc(50% + 20px);
    height: 710px;
    margin-right: -40px;
    margin-left: auto;
    padding-top: 22px;
    padding-right: 9px;

    border-radius: 20px;
    background: url(../images/bg_first_section_slider.jpg) 50%/cover no-repeat, #faf3ee;
}


.first_section .swiper-slide
{
    z-index: 1;
}

.first_section .swiper-slide.active
{
    z-index: 3;
}


.first_section .slider img
{
    display: block;

    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
}



/*---------------------
    What difference
---------------------*/
.what_difference .row
{
    align-content: stretch;
    align-items: stretch;

    margin-bottom: -30px;
    margin-left: -20px;
}


.what_difference .row > *
{
    width: calc(25% - 20px);
    margin-bottom: 30px;
    margin-left: 20px;
}


.what_difference .empty.tablet
{
    display: none;
}


.what_difference .item
{
    line-height: 150%;

    position: relative;

    display: flex;
    align-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: flex-start;

    min-height: 144px;
    padding: 9px 14px 14px 9px;

    border: 1px solid #a18672;
    border-radius: 10px;
}


.what_difference .item.bg
{
    background: #faf3ee;
}


.what_difference .item .icon
{
    position: absolute;
    top: 17px;
    left: 9px;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;

    height: 23px;
}


.what_difference .item .icon img
{
    display: block;

    max-width: 100%;
    max-height: 100%;
}


.what_difference .item .number
{
    font-size: 19px;
    line-height: 120%;

    position: absolute;
    top: 20px;
    right: 5px;

    white-space: nowrap;

    color: #a18672;
}


.what_difference .item span
{
    font-weight: 600;

    color: #e9430e;
}


.what_difference .item .exp
{
    font-size: 13px;
    line-height: 150%;

    width: 100%;

    color: #616161;
}


.what_difference .image
{
    border-radius: 10px;
}


.what_difference .image.big_radius
{
    border-radius: 135px;
}


.what_difference .image img
{
    display: block;

    width: 100%;
    height: 100%;

    border-radius: inherit;

    object-fit: cover;
}


.what_difference .join_btn
{
    font-weight: 600;
    line-height: 150%;

    display: block;

    width: 294px;
    max-width: 100%;
    margin: 60px auto 0;
    padding: 15px 30px;

    transition: background .2s linear;
    text-transform: uppercase;

    color: #f2ebe5;
    border-radius: 46px;
    background: #e5502c;
}


.what_difference .join_btn:hover
{
    background: #fe7e13;
}



/*-----------
    Steps
-----------*/
.steps
{
    margin-bottom: 60px;
}


.steps .row
{
    justify-content: center;

    padding-top: 32px;

    gap: 76px;
}


.steps .step
{
    position: relative;

    text-align: center;
}


.steps .step + .step:before
{
    position: absolute;
    top: 20px;
    left: -80px;

    display: block;

    width: 99px;
    height: 48px;

    content: '';
    pointer-events: none;

    background: url(../images/steps_sep.svg) 0 0 no-repeat;
}


.steps .step .number
{
    font-size: 19px;
    line-height: 120%;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 79px;
    height: 79px;
    margin: 0 auto 25px;

    color: #fff;
    border-radius: 50%;
    background: #a18672;
}


.steps .step span
{
    display: block;

    color: #e9430e;
}


.steps .join_btn
{
    font-weight: 600;
    line-height: 150%;

    display: block;

    width: 294px;
    max-width: 100%;
    margin: 60px auto 0;
    padding: 15px 30px;

    transition: background .2s linear;
    text-transform: uppercase;

    color: #f2ebe5;
    border-radius: 46px;
    background: #e5502c;
}


.steps .join_btn:hover
{
    background: #fe7e13;
}



/*-------------
    Marquee
-------------*/
.marquee
{
    font-size: 18px;
    font-weight: 600;
    line-height: 150%;

    padding: 24px 0;

    white-space: nowrap;

    color: #797979;
    background: #fbf2ee;
}


.marquee .swiper
{
    overflow: visible !important;
}


.marquee .swiper-wrapper
{
    transition-timing-function: linear !important;
}


.marquee .swiper-slide
{
    width: auto;
}


.marquee .sep
{
    margin-left: 12px;
}



/*----------------
    Price info
----------------*/
.price_info
{
    padding: 80px 0 84px;

    background: url(../images/bg_price_info.jpg) 50%/cover no-repeat, #faf3ee;
}


.price_info .block_head
{
    padding-bottom: 5px;
}


.price_info .start
{
    font-size: 24px;
    font-weight: 700;

    width: 920px;
    max-width: 100%;
    margin: 0 auto;
    padding: 45px 38px 38px;

    text-align: center;
    text-transform: uppercase;

    color: #694822;
    border: 1px solid #a18672;
    border-radius: 20px;
    background: #fff;
}


.price_info .start span
{
    display: block;

    color: #e5502c;
}


.price_info .item
{
    font-size: 24px;
    font-weight: 700;

    width: 840px;
    max-width: 100%;
    margin-top: 35px;
    margin-right: auto;
    margin-left: auto;

    text-align: center;
    text-transform: uppercase;

    color: #694822;
}


.price_info .item.full_w
{
    width: 100%;
}


.price_info .exp
{
    font-size: var(--font_size);
    font-weight: 400;
    line-height: 150%;

    margin-top: 5px;

    text-transform: none;

    color: #1e1e1e;
}


.price_info .join_btn
{
    font-weight: 600;
    line-height: 150%;

    display: block;

    width: 294px;
    max-width: 100%;
    margin: 60px auto 0;
    padding: 15px 30px;

    transition: background .2s linear;
    text-transform: uppercase;

    color: #f2ebe5;
    border-radius: 46px;
    background: #e5502c;
}


.price_info .join_btn:hover
{
    background: #fe7e13;
}



/*--------------
    Included
--------------*/
.included .image
{
    width: 491px;
    max-width: 100%;
}


.included .image img
{
    display: block;

    max-width: 100%;
}


.included .data
{
    line-height: 150%;

    display: flex;
    flex-direction: column;

    width: 560px;
    max-width: 100%;
    margin-left: auto;

    gap: 15px;
}


.included .data > *
{
    padding-left: 27px;

    background: url(../images/ic_included_item.svg) 0 3px no-repeat;
}


.included .data b
{
    font-weight: 600;

    color: #e9430e;
}



/*--------------
    For whom
--------------*/
.for_whom
{
    padding: 80px 0 90px;

    background: #faf3ee;
}


.for_whom .row
{
    justify-content: space-between;
}


.for_whom .items
{
    display: flex;
    flex-direction: column;

    width: calc(50% - 20px);

    gap: 20px;
}


.for_whom .item
{
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 5px;

    border-radius: 10px;
    background: #fff;
}


.for_whom .item .thumb
{
    position: relative;

    width: 168px;
    max-width: 100%;

    border-radius: 8px;
    background: #ddd;

    aspect-ratio: 84/41;
}


.for_whom .item .thumb img
{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    border-radius: inherit;

    object-fit: cover;
}


.for_whom .item .thumb + *
{
    line-height: 150%;

    align-self: center;

    width: calc(100% - 190px);
}


.for_whom .item span
{
    font-weight: 600;

    color: #e9430e;
}


.for_whom .slider
{
    width: calc(50% - 20px);
}


.for_whom .swiper
{
    overflow: visible !important;
}


.for_whom .swiper-slide
{
    z-index: 1;
}

.for_whom .swiper-slide.active
{
    z-index: 3;
}


.for_whom .slider .item
{
    padding: 10px;
}


.for_whom .slider .item .thumb
{
    width: 100%;
    margin-bottom: 20px;

    aspect-ratio: 270/97;
}


.for_whom .slider .item .thumb + *
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 100%;
    min-height: 81px;
    padding: 0 24px 11px;

    text-align: center;
}



/*-------------
    Reviews
-------------*/
.reviews .block_head
{
    padding-bottom: 5px;
}


.reviews .list
{
    position: relative;

    height: 1300px;
}


.reviews .review
{
    position: absolute;

    display: flex;
    flex-direction: column;

    max-width: 100%;
}


.reviews .review.bg
{
    border-radius: 30px;
    background: #faf3ee;
    box-shadow: 2px 2px 8px 0 rgba(161, 134, 114, .20);
}

.reviews .review.bg_white
{
    background: #fff;
}


.reviews .review1
{
    top: 0;
    left: 0;

    width: 360px;
    padding: 29px 8px 29px 19px;
}

.reviews .review2
{
    top: 0;
    left: 458px;

    width: 464px;
}

.reviews .review3
{
    top: 146px;
    right: 0;

    width: 760px;
    padding: 29px 11px 31px 30px;
}

.reviews .review4
{
    right: 62px;
    bottom: 17px;

    width: 598px;
    padding: 26px 6px 23px 24px;
}

.reviews .review5
{
    bottom: 284px;
    left: 58px;

    width: 400px;
}

.reviews .review6
{
    bottom: 0;
    left: 0;

    width: 437px;
}


.reviews .review .head
{
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
}


.reviews .review .photo
{
    width: 100px;
    height: 100px;
    margin-bottom: 13px;

    border-radius: 50%;
    background: #ddd;
}


.reviews .review .head .photo
{
    margin-bottom: 0;
}


.reviews .review5 .photo
{
    margin-bottom: 3px;
}


.reviews .review .photo img
{
    display: block;

    width: 100%;
    height: 100%;

    border-radius: inherit;

    object-fit: cover;
}


.reviews .review .title
{
    font-size: 24px;
    font-weight: 600;

    color: #694822;
}


.reviews .review .head .title
{
    align-self: center;

    width: calc(100% - 126px);
}


.reviews .review .text_block
{
    line-height: 150%;
}


.reviews .review1 .text_block
{
    margin-top: 17px;
}

.reviews .review2 .text_block
{
    font-weight: 600;
}

.reviews .review3 .text_block
{
    margin-top: 26px;
}

.reviews .review4 .text_block
{
    margin-top: 18px;
}

.reviews .review5 .text_block
{
    font-weight: 600;
    line-height: 140%;

    color: #694822;
}


.reviews .review .text_block > *
{
    margin-bottom: 23px;
}


.reviews .more
{
    line-height: 150%;

    margin-top: 44px;

    text-align: right;
}


.reviews .more a
{
    font-weight: 700;

    white-space: nowrap;
    text-decoration: none;

    color: currentColor;
}



/*-------------
    Experts
-------------*/
.experts
{
    padding: 80px 0 124px;

    background: #faf3ee;
}


.experts .block_head
{
    padding-bottom: 10px;
}


.experts .list
{
    position: relative;
    z-index: 1;

    display: flex;
    flex-direction: column;

    gap: 80px;
}


.experts .expert
{
    position: sticky;
    top: 24px;

    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 1071px;
    max-width: 100%;

    border-radius: 30px;
    background: #fff;
}


.experts .expert .photo
{
    position: relative;

    width: 359px;
    max-width: 100%;
    height: 398px;

    border-radius: 30px;
    background: #d9d9d9;
}


.experts .expert .photo img
{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    border-radius: inherit;

    object-fit: cover;
}


.experts .expert .photo + *
{
    width: calc(100% - 399px);
    padding-top: 20px;
}


.experts .expert .name
{
    font-size: 30px;
    font-weight: 600;
    line-height: 150%;

    margin-bottom: 40px;

    color: #e5502c;
}


.experts .expert .features
{
    line-height: 140%;

    display: flex;
    flex-direction: column;

    gap: 40px;
}


.experts .expert .features > *
{
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
}


.experts .expert .features .label
{
    font-weight: 600;

    width: 200px;
    max-width: 100%;

    color: #000;
}


.experts .expert .features .val
{
    font-size: inherit;
    line-height: inherit;

    width: calc(100% - 218px);

    color: #888a8b;
}


.experts .expert .features .val > *
{
    margin-bottom: 21px;
}


.experts .expert .features .val ul li:before
{
    top: 9px;
}


.experts .expert .features button
{
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;

    width: 100%;
    height: 70px;

    transition: all .2s linear;
    text-align: center;

    color: #fff;
    border: 1px solid transparent;
    border-radius: 50px;
    background: #e5502c;
}

.experts .expert .features button:hover
{
    color: #e5502c;
    border: 1px solid #e5502c;
    background: transparent;
}



/*---------------
    Materials
---------------*/
.materials .row
{
    margin-bottom: -45px;
    margin-left: -40px;
}


.materials .row > *
{
    width: calc(33.333% - 40px);
    margin-bottom: 45px;
    margin-left: 40px;
}


.materials .item
{
    font-weight: 700;
    line-height: 130%;

    text-align: center;
    text-decoration: none;

    color: currentColor;
}


.materials .item .thumb
{
    position: relative;

    margin-bottom: 20px;
    padding-bottom: 83.333%;

    background: #ddd;
}


.materials .item .thumb img
{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    object-fit: cover;
}


.materials .item .thumb + *
{
    padding: 0 23px;
}


.materials .all_link
{
    margin-top: 45px;

    text-align: center;
}


.materials .all_link a
{
    font-size: 15px;
    font-weight: 700;
    line-height: 150%;

    display: inline-block;

    width: 550px;
    max-width: 100%;
    padding: 21px;

    transition: .2s linear;
    vertical-align: top;
    text-decoration: none;
    text-transform: uppercase;

    color: #a18672;
    border-radius: 50px;
    background: #faf3ee;
}


.materials .all_link a:hover
{
    color: #fefdfc;
    background: #e5502c;
}



/*----------------
    Error info
----------------*/
.error_info
{
    position: relative;

    padding-top: 30px;
}


.error_info .cont
{
    position: relative;
    z-index: 3;
}


.error_info .code
{
    font-size: 165px;
    font-weight: 700;
    line-height: 110%;

    text-transform: uppercase;

    color: #e5502c;
}


.error_info .title
{
    font-size: var(--font_size_title);
    font-weight: 600;

    width: 1086px;
    max-width: 100%;

    text-transform: uppercase;
}


.error_info .link
{
    margin-top: 40px;
}


.error_info .link a
{
    font-size: 14px;
    font-weight: 600;
    line-height: 150%;

    display: inline-block;

    width: 400px;
    max-width: 100%;
    padding: 24px;

    text-align: center;
    vertical-align: top;
    text-decoration: none;

    color: #fff;
    border-radius: 50px;
    background: #e5502c;
}


.error_info .bg
{
    position: absolute;
    z-index: 1;
    top: 24px;
    right: 50%;

    display: block;

    width: 1073px;
    height: 846px;
    margin-right: -788px;

    pointer-events: none;
}



/*--------------
    Articles
--------------*/
.articles .cols
{
    display: flex;
    align-content: stretch;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: space-between;
}


.articles .list
{
    display: flex;
    flex-direction: column;

    gap: 30px;
}


.articles .cols .list
{
    width: calc(100% - 437px);
}


.articles .article
{
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 20px;

    border: 5px solid #ecf1f2;
}


.articles .article .thumb
{
    display: block;

    width: 250px;
    max-width: 100%;

    text-decoration: none;

    color: currentColor;
}


.articles .article .thumb img
{
    display: block;

    width: 100%;
}


.articles .article .thumb + *
{
    display: flex;
    flex-direction: column;

    width: calc(100% - 277px);

    gap: 20px;
}


.articles .article .name
{
    font-size: 20px;
    font-weight: 600;

    width: 364px;
    max-width: 100%;

    color: #000;
}


.articles .article .name a
{
    display: inline-block;

    vertical-align: top;
    text-decoration: none;

    color: currentColor;
}


.articles .article .desc
{
    font-size: 16px;

    color: #000;
}


.articles .article .link
{
    font-size: 16px;
    font-weight: 600;

    display: flex;
    align-items: center;
    justify-content: space-between;

    color: #e5502c;

    gap: 10px;
}

.articles .article .link .views
{
    display: flex;
    align-items: center;

    color: #000;

    gap: 10px;
}

.articles .article .link .views svg
{
    width: 20px;
    height: 20px;
}


.articles .article .link a
{
    display: inline-block;

    vertical-align: top;
    text-decoration: none;

    color: currentColor;
}



.articles aside
{
    width: 360px;
    max-width: 100%;
}



.articles .categories
{
    position: sticky;
    top: 0;

    display: flex;
    flex-direction: column;

    padding: 40px 20px 48px;

    background: #fff;

    gap: 30px;
}


.articles .categories .title
{
    font-size: 29px;
    font-weight: 600;

    text-transform: uppercase;
}


.articles .categories .items
{
    font-size: 14px;
    font-weight: 600;

    display: flex;
    flex-direction: column;

    gap: 20px;
}


.articles .categories .items a
{
    display: inline-block;

    transition: color .2s linear;
    vertical-align: top;
    text-decoration: none;

    color: currentColor;
}


.articles .categories .items span
{
    line-height: 18px;

    position: relative;
    top: -1px;

    display: inline-block;

    min-width: 20px;
    height: 18px;
    margin-left: 6px;
    padding: 0 5px;

    text-align: center;
    vertical-align: middle;

    color: #fff;
    border-radius: 3px;
    background: #e5502c;
}


.articles .categories .items a:hover,
.articles .categories .items a.active
{
    color: #e5502c;
}



.articles .all_link
{
    margin-top: 45px;

    text-align: center;
}


.articles .all_link a
{
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;

    display: inline-block;

    width: 550px;
    max-width: 100%;
    padding: 20px;

    transition: color .2s linear;
    vertical-align: top;
    text-decoration: none;

    color: #fff;
    border-radius: 50px;
    background: #e5502c;
}


.articles .article .link a:hover
{
    color: #191919;
}



/*------------------
    Article info
------------------*/
.article_info .text_block p,
.article_info .text_block ul
{
    max-width: 100%;
}



/*------------
    Footer
------------*/
footer
{
    position: relative;
    z-index: 3;

    padding: 127px 0 50px;

    background: #faf3ee;
}


footer .cont
{
    gap: 45px 75px;
}



footer .logo
{
    font-size: 10px;

    position: relative;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;

    width: 100%;

    text-decoration: none;

    color: #535353;
}


footer .logo div:first-child
{
    position: absolute;
    bottom: 100%;
    left: 0;

    margin-bottom: 5px;

    white-space: nowrap;
}


footer .logo img
{
    display: block;

    width: 113px;
    height: 39px;
}


footer .logo .age
{
    font-size: 13px;
    line-height: 26px;

    width: 26px;
    height: 26px;
    margin-left: 14px;

    text-align: center;

    color: #fff;
    border-radius: 50%;
    background: #e5502c;
}



footer .section
{
    font-size: 18px;
    font-weight: 700;

    width: 525px;
    max-width: 100%;
}



footer .site a
{
    white-space: nowrap;
    text-decoration: none;

    color: #e5502c;
}



footer .phone a
{
    white-space: nowrap;
    text-decoration: none;

    color: currentColor;
}



footer .socials
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;

    gap: 30px;
}


footer .socials a
{
    display: block;

    text-decoration: none;

    color: #e5502c;
}


footer .socials .icon
{
    display: block;
}


footer .socials .youtube_link .icon
{
    width: 36px;
    height: 25px;
}

footer .socials .vk_link .icon
{
    width: 45px;
    height: 25px;
}



footer .links
{
    font-weight: 700;

    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: flex-start;

    list-style: none;

    gap: 10px 75px;
}


footer .links div:last-child
{
    margin-left: 0;
}


footer .links a
{
    display: inline-block;

    vertical-align: top;
    text-decoration: none;

    color: currentColor;
}



footer .exp
{
    font-size: 10px;

    display: flex;
    flex-direction: column;

    width: 100%;
    margin-top: 4px;

    color: #535353;

    gap: 20px;
}



.experts .link a,
.reviews .more a,
footer .links a,
.articles .article .name a,
.articles .article .link a,
.breadcrumbs a
{
    transition: all .2s linear;
}

.reviews .more a:hover,
footer .links a:hover,
.articles .article .name a:hover,
.breadcrumbs a:hover
{
    color: #e5502c;
}



.modal
{
    display: none;
    visibility: visible !important;

    width: 600px;
    max-width: 100%;
    padding: 71px 91px 85px;

    color: var(--text_color);
    border-radius: 20px;
    background: #fff;
    box-shadow: 0 4px 13px rgba(30, 35, 66, .11);
}

.modal .title
{
    font-size: 32px;
    font-weight: 600;
    line-height: normal;

    display: block;

    max-width: 100%;
    margin-bottom: 30px;

    text-align: center;
    text-transform: uppercase;
}

.modal .form .submit_btn
{
    font-size: 16px;
    font-weight: 600;
    line-height: 70px;

    display: inline-block;

    width: 100%;
    height: 70px;
    padding: 0 20px;

    vertical-align: top;
    text-decoration: none;

    color: #fff;
    border-radius: 50px;
    background: #e5502c;
}



.agree
{
    font-size: 20px;

    margin-top: 20px;
}

.agree div
{
    font-size: 14px;
}



.wpcf7-not-valid-tip,
.wpcf7 form .wpcf7-response-output
{
    display: none !important;
}

.wpcf7-not-valid
{
    border-color: red !important;
}



.rouder
{
    border-radius: 40px;
}



.video_list
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    gap: 20px;
}


.item_video
{
    position: relative;

    width: calc(100% / 3 - 40px / 3);
}



.video
{
    position: relative;

    display: block;
    overflow: hidden;

    border-radius: 10px;
}

.video:before
{
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    content: '';

    background: rgba(0, 0, 0, .3);
}

.video img
{
    display: block;

    width: 100%;
    max-width: 100%;
}

.video svg
{
    position: absolute;
    top: 50%;
    left: 50%;

    width: 50px;
    height: 50px;

    transform: translate(-50%, -50%);
}



.all_video
{
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;

    display: block;

    width: 340px;
    margin: 40px auto 0;
    padding: 21px 97px;

    transition: all .2s linear;
    text-align: center;
    vertical-align: top;
    text-decoration: none;

    color: #fff;
    border: 1px solid transparent;
    border-radius: 50px;
    background: #e5502c;
}

.all_video:hover
{
    color: #333;
    border: 1px solid #e5502c;
    background-color: #fff;
}



.menu_cats
{
    display: flex;
    flex-wrap: wrap;

    gap: 20px;
}

.menu_cats a
{
    text-decoration: none;

    color: #333;
    border-bottom: 2px dashed #ff7643;
}

.menu_cats a.active
{
    border-bottom: 0;
}

.menu_cats div
{
    padding: 20px;
}

.menu_cats div:has(.active)
{
    background-color: #ecf1f2;
}



.links div:last-child
{
    margin-left: auto;
}



.cats
{
    font-size: 16px;

    margin-top: -20px;
    margin-bottom: -20px;
}

.cats a
{
    color: #e5502c;
}



.tags
{
    font-size: 16px;
}

.tags a
{
    color: #e5502c;
}



.ya-share2__container.ya-share2__container_color-scheme_blackwhite .ya-share2__badge,
.ya-share2__container.ya-share2__container_color-scheme_blackwhite .ya-share2__mobile-popup-badge
{
    background: #e5502c !important;
}

.ya-share2__container_size_l .ya-share2__badge .ya-share2__icon
{
    width: 40px !important;
    height: 40px !important;

    background-size: 48px 48px !important;
}

.ya-share2__container_shape_round.ya-share2__container_size_l .ya-share2__badge .ya-share2__icon:not(.ya-share2__icon_messenger-contact):not(.ya-share2__icon_more):not(.ya-share2__icon_copy)
{
    background-size: 30px 30px !important;
}



.comments
{
    margin-top: 50px;
}


.comments_title
{
    font-size: 40px;
    font-weight: 600;
    line-height: 1;

    margin-bottom: 30px !important;

    text-transform: uppercase;
}



.block_author
{
    display: flex;
    align-items: center;

    margin-top: 40px;

    gap: 20px;
}

.block_author img
{
    flex-shrink: 0;

    border-radius: 50%;
}



.auhor_name
{
    font-weight: bold;
}

.auhor_desc
{
    font-style: italic;

    margin-top: 10px;
}



.related_all
{
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;

    display: block;

    width: 340px;
    margin: 40px auto 0;
    padding: 21px 97px;

    transition: all .2s linear;
    text-align: center;
    vertical-align: top;
    text-decoration: none;

    color: #fff;
    border: 1px solid transparent;
    border-radius: 50px;
    background: #e5502c;
}
.related_posts
{
    margin-top: 60px;
}

.related_all:hover
{
    color: #333;
    border: 1px solid #e5502c;
    background-color: #fff;
}

.related_title
{
    font-size: 40px;
    font-weight: 600;
    line-height: 1;

    margin-bottom: 30px !important;

    text-transform: uppercase;
}

.related_list
{
    display: flex;
    flex-wrap: wrap;

    gap: 20px;
}

.related_list .article
{
    flex-direction: column;

    width: calc(100% / 3 - 40px / 3);

    gap: 20px;
}

.related_list .article .thumb
{
    width: 100% !important;
}

.related_list .article .thumb + *
{
    width: 100% !important;
}



.phone_wrap
{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    gap: 10px;
}

.phone_wrap button
{
    font-size: 15px;

    display: block;

    width: 100%;
    padding: 15px;

    transition: all .2s linear;
    text-align: center;
    text-decoration: none;

    color: #fff;
    border: 1px solid transparent;
    border-radius: 50px;
    background: #e5502c;
}

.phone_wrap button:hover
{
    color: #e5502c;
    border: 1px solid #e5502c;
    background: transparent;
}



.info svg
{
    flex-shrink: 0;

    width: 32px;
    height: 32px;
}

.info
{
    display: flex;
    align-items: center;

    gap: 20px;
}

.info > div
{
    display: flex;
    align-items: center;

    gap: 10px;
}



.wp-caption
{
    max-width: 100%;
}
